.header {
  position: relative;
  text-align: center;
  color: #4B0082;
}

.header_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map {
  height: 400px;
  border: solid;
}
